<style>
    .my-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 13px 10px ;
        background-color: #343a40;
        color: #9a9da0;
    }

    .scroll-top-btn {
        float: right;
        cursor: pointer;
        color: #9a9da0;
    }

    html {
        scroll-behavior: smooth;
    }

</style>

<div class=" text-center my-footer">
    <span>Copyright &copy; 2020. All rights reserved.</span>
    <a href="#top"> <i class="material-icons scroll-top-btn">keyboard_arrow_up</i></a>
</div>


