{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Register </h1>
        <p>Lets quickly register!</p>
    </div>
    {% include "www/navbar.html" %}
    <div class="container"style="padding: 35px;">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Acoount?
            </small> <a class="ml-2" href="{% url 'login' %}">Login</a> <br>
        </div>
    </div>
    {% include "www/footer.html" %}
</body>
</html>
